
h1{
    margin-bottom:50px;
    margin-left:50px;
    margin-top:30px;
}

.col{
   
    margin-right:50px;
    margin-bottom:50px;
   
}

.btn-success{
    background-color: palevioletred;
    border: 1px solid #F0F0F0;
    margin-left: 20px;
}

// #cancelfavorite{
//     background-color: palevioletred;
// }



// .likeVideo{
//     margin-top:5px;
// }

// .favorite{
//     margin-top:5px;
// }

.btn-warning{
    margin-left:20px;
}



