.video{
    display:inline;
    }
    
    .comments{
        display:inline;
        
    }
    
    tr{
        height:50px;
        width: 100px;
        
    }

    .commenttable{
        margin-bottom:30px;
    }
    
    th{
        background-color: grey;
        
    }

    a{
        color:palevioletred;
    }