

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/userhome">Casual Fitness</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item active">
          <a class="nav-link" href="/userhome">Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/workoutvideos">Workout Videos</a>
        </li>


        <li class="nav-item">
              <a class="nav-link" href="/uservideo">My Videos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/userdashboard">Dashboard</a>
          </li>
    

        <li class="nav-item">
          <a class="nav-link" href="/userprofile">Account</a>
        </li>

        
  
       
        
<!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Workouts&Programs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Workout Videos</a>
            <a class="dropdown-item" href="#">Meal Plans</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Fitness
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Calendar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Account</a>
            </div>
          </li> -->
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search Videos" aria-label="Search"> -->
        <a class="nav-link" href="/usercomments" (click)="getAllCommentsPost()">My Comments</a>
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" href="/userdashboard" type="submit" (click)="getAllCommentsPost()">My Comments </button> -->
      </form>

      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </form>
    </div>
  </nav>
