<app-coach-nav></app-coach-nav>


<div class="workoutVideoMaxContainer">
    <h1>Free Workout Videos</h1>
    </div>
    
    
    <div class="container">
    
      <div class="row align-items-start" >
    
        <div class="col" *ngFor = "let video of videos">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="video.coverurl"  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{video.Name}}</h5>
                  <p class="card-text">{{video.Description}}</p>
                </div>
              
                <div class="card-body">
                  <a href="/coachVideoDetail" [routerLink]="['/coachVideoDetail',video._id]"  class="card-link">Watch Video</a>
                  
           
    
               
    
                  <div class = "likeVideo">
    
                  <!-- like -->
                  <div class="dropdown">
    
                  <!-- 如果是此user创建的video 那么 只能看到点赞数 不能点赞 即 不能给自己点赞。。。 -->
                  <div *ngIf="userid === video.creater">
                    <strong>Likes: </strong>{{ video.like }}
                  </div>
                  <!-- 如果不是这个user创建的视频 可以点赞 只能点赞一次-->
                  <button [disabled]="video.likedBy.indexOf(userid) > -1" type="button" name="button" class="btn btn-sm btn-success" 
                  *ngIf="userid !== video.creater" (click)="likeVideo(video._id)"><span class="glyphicon glyphicon-thumbs-up">
                  &nbsp;</span>Likes: {{ video.like }}
                  </button>
            
                  </div>
    
                   <!-- Dislike Button -->
                  <button type="button" name="button" class="btn btn-sm btn-warning" 
                    *ngIf="video.likedBy.indexOf(userid) > -1" (click)="dislikeVideo(video._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislike</button>
    
                  </div>
    
                 
    
                </div>
    
    
    
    
    
              </div>
        </div>
    
      </div>
    
    
      
        </div>
    
     
    