.swiper-container{
    height:600px;
    width: 850px;
}

img{
    height:100%;
    width:100%;
}

#video{
    height:200px;
    width:400px;
}

.maincontainer{
    background-color: whitesmoke;
}

.jumbotron{
    background-color: whitesmoke;
}